.text-last-auto,
.text-last-start,
.text-last-end,
.text-last-left,
.text-last-right,
.text-last-center,
.text-last-justify {
  text-align: justify;
}

.text-last-auto {
  text-align-last: auto;
}

.text-last-start {
  text-align-last: start;
}

.text-last-end {
  text-align-last: end;
}

.text-last-left {
  text-align-last: left;
}

.text-last-right {
  text-align-last: right;
}

.text-last-center {
  text-align-last: center;
}

.text-last-justify {
  text-align-last: justify;
}

.text-last-initial {
  text-align-last: initial;
}