//  ==========================================================================
// ---- Alignments ----
//  ==========================================================================
.centered,
.float-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.valing-full {
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.center-flex-v {
  display: flex;
  align-items: center;
}

.center-xy,
.center-vh{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .centered-v-md {
    display: flex;
    align-items: center;
  }
}