
//  ==========================================================================
// BACKGROUND black
//  ==========================================================================
.bg-black-25 {
  background-color: rgba(#000000, 0.25) !important;
}

.bg-black-50 {
  background-color: rgba(#000000, 0.50) !important;
}

.bg-black-75 {
  background-color: rgba(#000000, 0.75) !important;
}

.bg-black-85 {
  background-color: rgba(#000000, 0.85) !important;
}

//  ==========================================================================
// BACKGROUND white
//  ==========================================================================
.bg-white-25 {
  background-color: rgba(#ffffff, 0.25) !important;
}

.bg-white-50 {
  background-color: rgba(#ffffff, 0.50) !important;
}

.bg-white-75 {
  background-color: rgba(#ffffff, 0.75) !important;
}

.bg-white-85 {
  background-color: rgba(#ffffff, 0.85) !important;
}
