
//  ==========================================================================
//  Border Radius Stylus
//  ==========================================================================
@each $border-name, $value in $borders-radius {
  .#{$border-name} {
    // border-radius: $value * 1px !important;
    $border-radius-temp: rem-calc($value) ;
    border-radius: $border-radius-temp !important;
  }
}

.rounded-top {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-bottom {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.rounded-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-top-left {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-top-right {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.rounded-bottom-left {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-bottom-right {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-diagonal-1 {
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-diagonal-2 {
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-circle {
  border-radius: 50%;
}
