
//  ==========================================================================
// font-weigh!importantt
//  ==========================================================================

.text-extra-light,
.fw-100 {
  font-weight: 100!important;
}

.text-semi-light,
.fw-200 {
  font-weight: 200!important;
}

.text-light,
.fw-300 {
  font-weight: 300!important;
}

.text-normal,
.fw-400 {
  font-weight: 400!important;
}

.text-medium,
.fw-500 {
  font-weight: 500!important;
}

.text-semi-bold,
.fw-600 {
  font-weight: 600!important;
}

.text-bold,
.fw-700 {
  font-weight: 700!important;
}

.fw-800 {
  font-weight: 800!important;
}

.text-extra-bold,
.fw-900 {
  font-weight: 900!important;
}