
//  ==========================================================================
// font-weight
//  ==========================================================================

.text-extra-light,
.fw-100 {
  font-weight: 100;
}

.text-semi-light,
.fw-200 {
  font-weight: 200;
}

.text-light,
.fw-300 {
  font-weight: 300;
}

.text-normal,
.fw-400 {
  font-weight: 400;
}

.text-medium,
.fw-500 {
  font-weight: 500;
}

.text-semi-bold,
.fw-600 {
  font-weight: 600;
}

.text-bold,
.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.text-extra-bold,
.fw-900 {
  font-weight: 900;
}