
//  ==========================================================================
// Font Weights
//  ==========================================================================

.fw-extra-light,
.fw-100 {
  font-weight: 100!important;
}

.fw-semi-light,
.fw-200 {
  font-weight: 200!important;
}

.fw-light,
.fw-300 {
  font-weight: 300!important;
}

.fw-normal,
.fw-400 {
  font-weight: 400!important;
}

.fw-medium,
.fw-500 {
  font-weight: 500!important;
}

.fw-semi-bold,
.fw-600 {
  font-weight: 600!important;
}

.fw-bold,
.fw-700 {
  font-weight: 700!important;
}

.fw-800 {
  font-weight: 800!important;
}

.fw-extra-bold,
.fw-900 {
  font-weight: 900!important;
}