
//  ==========================================================================
// IMAGES BACKGROUND
//  ==========================================================================
.img-bg-fluid {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-bg-fixed,
.img-parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img-bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

