
//  ==========================================================================
//  line-height
//  ==========================================================================
.lh-0 {
  line-height: 0 !important;
}

.lh-1x {
  line-height: 1 !important;
}

.lh-1x-25 {
  line-height: 1.25 !important;
}

.lh-1x-50 {
  line-height: 1.5 !important;
}

.lh-1x-75 {
  line-height: 1.75 !important;
}

.lh-2x {
  line-height: 2 !important;
}
