// styles Ul

.list-unstyled,
.list-inline {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.list-inline li:not(:last-child) {
  margin-right: 0.5rem;
}

// li styles
.list-circle {
  list-style-type: circle;
}

.list-square {
  list-style-type: square;
}

.list-upper-roman {
  list-style-type: upper-roman;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}
