$opacities: (
  0  : 0,
  10 : 10,
  20 : 20,
  25 : 25,
  30 : 30,
  40 : 40,
  50 : 50,
  60 : 60,
  70 : 70,
  75 : 75,
  80 : 80,
  90 : 90,
  100: 100,
);

//  ==========================================================================
// OPACITY normal
//  ==========================================================================

  @each $size, $length in $opacities {
    .opacity-#{$size} { opacity: ($length)/100 !important; }
  }

//  ==========================================================================
// OPACITY HOVER
//  ==========================================================================
  @each $size, $length in $opacities {
    .hvr-opacity-#{$size}.opacity:hover,
    .hvr-opacity-#{$size} .opacity:hover { opacity: ($length)/100 !important; }
  }


//  ==========================================================================
// OPACITY BACKGROUND
//  ==========================================================================
.opacity-bg-25 {
  background-color: rgba(#000000, 0.25) !important;
}

.opacity-bg-50 {
  background-color: rgba(#000000, 0.50) !important;
}

.opacity-bg-75 {
  background-color: rgba(#000000, 0.75) !important;
}

.opacity-bg-85 {
  background-color: rgba(#000000, 0.85) !important;
}
