
//  ==========================================================================
// OPACITY
//  ==========================================================================
.opacity-1 {
  opacity: 1;
}

.opacity-2 {
  opacity: .875;
}

.opacity-3 {
  opacity: .75;
}

.opacity-4 {
  opacity: .5;
}

//  ==========================================================================
// OPACITY BACKGROUND
//  ==========================================================================
.opacity-bg-25 {
  background-color: rgba(#000000, 0.25) !important;
}

.opacity-bg-50 {
  background-color: rgba(#000000, 0.50) !important;
}

.opacity-bg-75 {
  background-color: rgba(#000000, 0.75) !important;
}

.opacity-bg-85 {
  background-color: rgba(#000000, 0.85) !important;
}
