// rotates variants (param: x deg)

$rotates: (
  0 : 0,
  45 : 45,
  90 : 90,
  180 : 180,
  270 : 270,
  n45 : -45,
);

@each $class, $deg in $rotates {

  .rotate-#{$class} {
    transform: rotate($deg +deg) !important;
  }

  .rotate-x-#{$class} {
    transform: rotateX($deg +deg) !important;
  }

  .rotate-y-#{$class} {
    transform: rotateY($deg +deg) !important;
  }

  @if $deg > 0 {
    .rotate-n#{$class} {
      transform: rotate(-$deg +deg) !important;
    }
  }

}