//  ==========================================================================
// ---- Alignments ----
//  ==========================================================================
.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.valing-full {
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.full-h {
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .flex-md-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}