//  ==========================================================================
// ---- Alignments ----
//  ==========================================================================
.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.vh-100-center {
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

/* layer */
.layer-absolute,
.layer-overly{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// centrar dentro de un contenedor absolute
.centered-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@media (min-width: 768px) {
  .flex-md-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

}