
//  ==========================================================================
//  --- Text Variants ---
//  ==========================================================================


// Alignment

.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }


//  ==========================================================================
// Responsive alignment
//  ==========================================================================

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left !important; }
    .text#{$infix}-right  { text-align: right !important; }
    .text#{$infix}-center { text-align: center !important; }
  }
}


//  Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.text-none {
  text-transform: none !important;
}

//  ==========================================================================
//  Weight and italics
//  ==========================================================================

.text-normal {
  font-weight: normal!important;
}

// Contextual colors

.text-white { color: $white !important; }

.text-black-50 { color: rgba($black, .5) !important; }
.text-white-50 { color: rgba($white, .5) !important; }

