// styles text decoration
.text-no-decoration,
.link-text,
.link-text:hover,
.link-text:active {
  color: inherit;
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-overline {
  text-decoration: overline !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.text-blink {
  text-decoration: blink !important;
}