

/// Color.
/// @type Color
$light-gray : #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray  : #8a8a8a !default;
$black      : #0a0a0a !default;
$white      : #fefefe !default;

// # $grid-breakpoints:

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//  ==========================================================================
// Borders radius Variables (custom add in the array  $borders-radius => "rounded-x": x , )
//  ==========================================================================


$borders-radius: (
  "radius-sm": 2,
  "radius"   : 4,
  "radius-md": 8,
  "radius-lg": 16,
  "radius-0" : 0,
);

// Z-index master list

$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;

