
/// Color used for light gray UI items.
/// @type Color
$light-gray: #e6e6e6 !default;

/// Color used for medium gray UI items.
/// @type Color
$medium-gray: #cacaca !default;

/// Color used for dark gray UI items.
/// @type Color
$dark-gray: #8a8a8a !default;

/// Color used for black ui items.
/// @type Color
$black: #0a0a0a !default;

/// Color used for white ui items.
/// @type Color
$white: #fefefe !default;

// # $grid-breakpoints: 

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//  ==========================================================================
// Borders radius Variables (custom add in the array  $borders-radius => "rounded-x": x , )
//  ==========================================================================
 

$borders-radius: (
  "rounded-sm": 2,
  "rounded"   : 4,
  "rounded-md": 8,
  "rounded-lg": 16,
  "rounded-0" : 0,
);

// Z-index master list

$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;

