
/// Color.
/// @type Color
$black: #0a0a0a !default;
$white: #fefefe !default;
$gray-300: #dee2e6 !default;

$border-color: $gray-300 !default;
$border-width: 1px !default;

// $sizes: ()!default ;
$theme-colors: ()!default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
