h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  line-height: 0;
  color: #cacaca;
}

//  ==========================================================================
// Heading styles
//  ==========================================================================
@each $size,
$headers in $header-font-sizes {
  @include media-breakpoint-up($size) {
    @each $header,
    $header-defs in $headers {
      $font-size-temp: 1rem;

      $h-temp: "";
      @if verify-key-header($header){
        $h-temp:  '#{$header}, .#{$header}' ;
      }
      @else {
        $h-temp:  '.#{$header}' ;
      }

      // #{$header}, .#{$header} {
       #{$h-temp}{
        @if map-has-key($header-defs, font-size) {
          $font-size-temp: rem-calc(map-get($header-defs, font-size));
          font-size: $font-size-temp;
        }
        @else if map-has-key($header-defs, fs) {
          $font-size-temp: rem-calc(map-get($header-defs, fs));
          font-size: $font-size-temp;
        }
      }
    }
  }
}

