// margin Xpx
.m-0 {margin: 0; }
.m-t-0 {margin-top: 0; }
.m-r-0 {margin-right: 0; }
.m-b-0 {margin-bottom: 0; }
.m-l-0 {margin-left: 0; }
.m-l-r-0 {margin-left: 0; margin-right: 0; }
.m-t-b-0 {margin-top: 0; margin-bottom: 0; }

@include margin-variant(5);
@include margin-variant(10);
@include margin-variant(15);
@include margin-variant(20);
@include margin-variant(25);
@include margin-variant(30);
@include margin-variant(40);
@include margin-variant(50);