@media (min-width: 768px) {
    .p-md-0 {
        padding: 0;
    }
    .m-md-0 {
        margin: 0;
    }
}

@media (min-width: 960px) {
    .p-none-lg {
        padding: 0;
    }
    .m-none-lg {
        margin: 0;
    }
}