// paddings Xpx

$grid-breakpoints-spacing: (
  xs: 0,
  // sm: 576px,
  md: 768px,
  // lg: 992px,
) !default;


$spacings:(
  '0' : 0,
  'x-25' : .25,
  'x-50' : .5,
  'x-75' : .75,
  '1x'   : 1,
  '1x-25': 1.25,
  '1x-50': 1.5,
  '1x-75': 1.75,
  '2x'   : 2,
  // '2x-50': 2.5,
  '3x'   : 3,
  '4x'   : 4,
);


@each $breakpoint in map-keys($grid-breakpoints-spacing) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints-spacing);
    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacings {

        $length: $length * 1rem ;

        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .#{$abbrev}t#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}r#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}b#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}l#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }
    // Some special margin utils
    .m#{$infix}-auto {
      margin: auto !important;
    }
    .mt#{$infix}-auto,
    .my#{$infix}-auto {
      margin-top: auto !important;
    }
    .mr#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-right: auto !important;
    }
    .mb#{$infix}-auto,
    .my#{$infix}-auto {
      margin-bottom: auto !important;
    }
    .ml#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-left: auto !important;
    }
  }
}
