//  ==========================================================================
// ---- Alignments ----
//  ==========================================================================
.centered {
  float: none!important;
  margin: auto!important;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.valing-full {
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.centered-v {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .center-v {
    display: flex;
    align-items: center;
  }
}

.clear {
  clear: both;
}

//  ==========================================================================
// Display
//  ==========================================================================
.inline {
  display: inline;
}

.show,
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}


//  ==========================================================================
// Text-aling
//  ==========================================================================
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.text-lowercase {
  text-transform: lowercase!important;
}

.text-capitalize {
  text-transform: capitalize!important;
}

.text-none {
  text-transform: none !important;
}

//  ==========================================================================
//  line-height
//  ==========================================================================
.l-h-1 {
  line-height: 1;
}

.l-h-1-md {
  line-height: 1.5;
}

.l-h-2 {
  line-height: 2;
}

.l-h-2-md {
  line-height: 2.5
}

.l-h-3 {
  line-height: 3;
}

//  ==========================================================================
//  agrupar icons (fontawesome.io)
//  ==========================================================================
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.icon-stack-1x {
  line-height: inherit;
  color: #ffffff;
}

.icon-stack-2x {
  font-size: 2em;
}


//  ==========================================================================
//  position
//  ==========================================================================
.p-relative {
  position: relative;
}

.p-absolute-b {
  position: absolute;
  bottom: 0;
}

// ====================================================
// video
// ====================================================
.video-responsive {
  position: relative;
  margin-bottom: 20px;
  padding-top: 56.25%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//  ==========================================================================
// left - right
//  ==========================================================================
.right-0 {
  right: 0;
  left: auto;
}

.left-0 {
  left: 0;
  right: auto;
}