//  ==========================================================================
// ---- Alignments ----
//  ==========================================================================
.centered {
  float: none !important;
  margin: auto !important;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.valing-full {
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.centered-v {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .center-v {
    display: flex;
    align-items: center;
  }
}

.clear {
  clear: both;
}

//  ==========================================================================
// Display
//  ==========================================================================
.inline {
  display: inline;
}

.show,
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

//  ==========================================================================
// Text-aling
//  ==========================================================================
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-none {
  text-transform: none !important;
}

//  ==========================================================================
//  line-height
//  ==========================================================================
.l-h-1 {
  line-height: 1 !important;
}

.l-h-1-sm {
  line-height: 1.25 !important;
}

.l-h-1-md {
  line-height: 1.5 !important;
}

.l-h-1-lg {
  line-height: 1.75 !important;
}

.l-h-2 {
  line-height: 2 !important;
}

//  ==========================================================================
//  agrupar icons (fontawesome.io)
//  ==========================================================================
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.icon-stack-1x {
  line-height: inherit;
  color: #ffffff;
}

.icon-stack-2x {
  font-size: 2em;
}

//  ==========================================================================
//  position
//  ==========================================================================
.p-relative {
  position: relative;
}

.p-absolute-b {
  position: absolute;
  bottom: 0;
}

// ====================================================
// video
// ====================================================
.video-responsive {
  position: relative;
  margin-bottom: 20px;
  padding-top: 56.25%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//  ==========================================================================
// left - right
//  ==========================================================================
.right-0 {
  right: 0;
  left: auto;
}

.left-0 {
  left: 0;
  right: auto;
}

//  ==========================================================================
// IMAGES BACKGROUND
//  ==========================================================================
.img-bg-fluid {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
}

.img-bg-fixed,
.img-parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

//  ==========================================================================
// OPACITY
//  ==========================================================================
.opacity-1 {
  opacity: 1;
}

.opacity-2 {
  opacity: .875;
}

.opacity-3 {
  opacity: .75;
}

.opacity-4 {
  opacity: .5;
}

//  ==========================================================================
// OPACITY BACKGROUND
//  ==========================================================================
.opacity-bg-25 {
  background-color: rgba(#000000, 0.25) !important;
}

.opacity-bg-50 {
  background-color: rgba(#000000, 0.50) !important;
}

.opacity-bg-75 {
  background-color: rgba(#000000, 0.75) !important;
}

.opacity-bg-85 {
  background-color: rgba(#000000, 0.85) !important;
}

//  ==========================================================================
// HR styles
//  ==========================================================================
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr.double {
  border-top-width: 3px;
  border-top-style: double;
}

hr.dashed {
  border-top-style: dashed;
}

hr.dotted {
  border-top-style: dotted;
}

.hr-2x {
  border-top-width: 2px;
}

.hr-3x {
  border-top-width: 3px;
}

.hr-white {
  border-top-color: rgba(255, 255, 255, 0.75);
}
.hr-black {
  border-top-color: rgba(0, 0, 0, 0.75);
}