/*
Error: Properties are only allowed within rules, directives, mixin includes, or other properties.
        on line 2 of mixins/_rotates.scss
        from line 9 of app.scss

1: 
2: @import "variables";
3: @import "mixins/app.mixins";
4: 
5: @import "margins";
6: @import "paddings";
7: @import "border-radius";

Backtrace:
mixins/_rotates.scss:2
app.scss:9
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:13:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:38:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:64:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:57:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:24:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:37:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:410:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Properties are only allowed within rules, directives, mixin includes, or other properties.\A         on line 2 of mixins/_rotates.scss\A         from line 9 of app.scss\A \A 1: \A 2: @import \"variables\";\A 3: @import \"mixins/app.mixins\";\A 4: \A 5: @import \"margins\";\A 6: @import \"paddings\";\A 7: @import \"border-radius\";"; }
