//  ==========================================================================
// ---- Alignments ----
//  ==========================================================================

.centered {float: none!important; margin: auto!important; }
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.valing-full {
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.centered-v {display: flex; align-items: center; }
@media only screen and (min-width: 768px) {
    .center-v {
        display: flex;
        align-items: center;
    }
}

.clear{clear: both; }

//  ==========================================================================
// Display
//  ==========================================================================
.inline       { display: inline; }
.show,.block {display: block; }
.inline-block { display: inline-block; }
.hidden       { display: none; }


//  ==========================================================================
// Text-aling
//  ==========================================================================
.text-left {text-align: left; }
.text-right {text-align: right; }
.text-center {text-align: center; }
.text-justify {text-align: justify; }

.text-upper {text-transform: uppercase!important; }
.text-lower {text-transform: lowercase!important; }
.text-capitalize {text-transform: capitalize!important; }
.text-none {text-transform: none !important; }


//  ==========================================================================
// Typography
//  ==========================================================================
.tex-bold {font-weight: bold; }
.text-regular {font-weight: normal; }
.text-italic {font-style: italic; }

.ell {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.break-word {word-wrap: break-word; }
.no-wrap {white-space: nowrap; }



//  ==========================================================================
//  agrupar icons (fontawesome.io)
//  ==========================================================================
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
  color: #ffffff;
}
.icon-stack-2x {
  font-size: 2em;
}